{% extends 'base.html.twig' %}

{% block title %}TVHome{% endblock %}

{% block body %}
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
  rel="stylesheet"
/>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="assets/favicon.svg">
    
    <body>
        <!--Main Navigation-->
    
    <!--  intro  -->
    <section class="mt-3">
      <div class="container">
        <main class="card p-3 shadow-2-strong">
          <div class="row" h-100>
            <div class="col-lg-3" >
              <div class="nav flex-column nav-pills mb-md-2" role="tablist" id="pills-tab"  aria-orientation="vertical">
                <a data-mdb-pill-init class="nav-link active my-0 py-2 ps-3 bg-white" id="tab-1" role="tab" aria-controls="tabContent-1" aria-selected="true" href="#tabContent-1">{{'tatca'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-2" role="tab" aria-control="tabContent-2" aria-selected="false" href="#tabContent-2">TV</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-3" role="tab" aria-control="tabContent-3" aria-selected="false" href="#tabContent-3">{{'tulanh'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-4" role="tab" aria-control="tabContent-4" aria-selected="false" href="#tabContent-4">{{'maygiat'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-5" role="tab" aria-control="tabContent-5" aria-selected="false" href="#tabContent-5">{{'maylocnuoc'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-6" role="tab" aria-control="tabContent-6" aria-selected="false" href="#tabContent-6">{{'maylanh'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-7" role="tab" aria-control="tabContent-7" aria-selected="false" href="#tabContent-7">{{'noicom'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-8" role="tab" aria-control="tabContent-8" aria-selected="false" href="#tabContent-8">{{'bepdien'|trans({}, 'homepage')|raw}}</a>
                <a data-mdb-pill-init class="nav-link my-0 py-2 ps-3 bg-white" id="tab-9" role="tab" aria-control="tabContent-9" aria-selected="false" href="#tabContent-9">{{'dienthoai'|trans({}, 'homepage')|raw}}</a>
              </div>
            </div>
            <div class="col-lg-9">
              <!-- Carousel wrapper -->
              <div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>
                <!-- Indicators -->
                <div class="carousel-indicators">
                  <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                  <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <!-- Inner -->
                <div class="carousel-inner rounded-5 shadow-4-strong">
                  <!-- Single item -->
                  <div class="carousel-item active" style="height: 380px;">
                    <img src="https://img4.thuthuatphanmem.vn/uploads/2020/06/26/mau-banner-dien-may-hang-tu-lanh_033706622.jpg" class="d-block w-100 " style="height: 380px;"
                     />
                    
                  </div>

                  <!-- Single item -->
                  <div class="carousel-item" style="height: 380px;">
                    <img src="https://s3.eu-west-1.amazonaws.com/dist.soreto.com/clientsrc/assets/samsunguk/default/jan23/banner-samsung-blog.jpg" class="d-block w-100 " style="height: 380px;"
                      />
                   
                  </div>

                  <!-- Single item -->
                  <div class="carousel-item" style="height: 380px;">
                    <img src="https://file.hstatic.net/200000227819/collection/dr-panasonic-aircon-banner-1920x770-1_37388523df3e439094334907bf3b358b.jpg" class="d-block w-100 " style="height: 380px;"
                     />
                    
                  </div>
                </div>
                <!-- Inner -->

                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Carousel wrapper -->
            </div>
          </div>
        </main>
      </div>
      <!-- container end.// -->
    </section>
    <!-- intro -->
    
    <section class="mt-3">
      <div class="container">
        <main class="card p-3 shadow-2-strong bg-primary text-center ">
          <div class="row">
            <h3 class="text-white">{{'sanpham'|trans({}, 'homepage')|raw}}</h3>
          </div>
        </main>
      </div>
      <!-- container end.// -->
    </section>

    <!-- Products -->
  <section>
      <div class="tab-content" id="tabContent">

              <div class="tab-pane fade show active" id="tabContent-1" role="tabpanel" aria-labelledby="tab-1">
                <div class="container">
                  <div class="row">
                    {% for product in products %}
                      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                        <div class="card w-100 my-2 shadow-2-strong">
                          <a href="{{ path('productdetail', {id: product.id}) }}"><img src="{{ product.image }}" alt="{{ product.name }}" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                            <div class="card-body d-flex flex-column">
                              <p class="card-text">{{ product.name }}</p>
                                <h6 class="card-title">{{ product.price }} VND</h6>
                            </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-2" role="tabpanel" aria-labelledby="tab-2">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/TV001"><img src="assets/images/product/TV01.jpg" alt="Smart Tivi NanoCell LG 4K 75 inch 75NANO76SQA" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Smart Tivi NanoCell LG 4K 75 inch 75NANO76SQA</p>
                            <h6 class="card-title">20990000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/TV002"><img src="assets/images/product/TV02.jpg " alt="Google Tivi Sony 4K 65 inch KD-65X80K" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Google Tivi Sony 4K 65 inch KD-65X80K</p>
                            <h6 class="card-title">18890000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-3" role="tabpanel" aria-labelledby="tab-3">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/TL001"><img src="assets/images/product/TL01.jpg" alt="Tủ lạnh Samsung Inverter 655 lít Side By Side RS62R5001B4/SV" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Tủ lạnh Samsung Inverter 655 lít Side By Side RS62R5001B4/SV</p>
                            <h6 class="card-title">16290000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/TL002"><img src="assets/images/product/TL02.jpg " alt="Tủ lạnh LG Inverter 519 lít Side By Side GR-B256BL" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Tủ lạnh LG Inverter 519 lít Side By Side GR-B256BL</p>
                            <h6 class="card-title">12990000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-4" role="tabpanel" aria-labelledby="tab-4">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/MG001"><img src="assets/images/product/MG01.jpg" alt="Máy giặt Toshiba Inverter 8.5 Kg TW-BH95S2V WK" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Máy giặt Toshiba Inverter 8.5 Kg TW-BH95S2V WK</p>
                            <h6 class="card-title">5990000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/MG002"><img src="assets/images/product/MG02.jpg " alt="Máy giặt Electrolux Inverter 9 kg EWF9025DQWB" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Máy giặt Electrolux Inverter 9 kg EWF9025DQWB</p>
                            <h6 class="card-title">7990000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-5" role="tabpanel" aria-labelledby="tab-5">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/MLN001"><img src="assets/images/product/MLN01.jpg" alt="Máy lọc nước RO Daikiosan DXW-42010H 10 lõi" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Máy lọc nước RO Daikiosan DXW-42010H 10 lõi</p>
                            <h6 class="card-title">2490000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/MLN002"><img src="assets/images/product/MLN02.jpg " alt="Máy lọc nước R.O nóng nguội lạnh Hydrogen Kangaroo KG10A4VTU 10 lõi" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Máy lọc nước R.O nóng nguội lạnh Hydrogen Kangaroo KG10A4VTU 10 lõi</p>
                            <h6 class="card-title">7590000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-6" role="tabpanel" aria-labelledby="tab-6">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/ML001"><img src="assets/images/product/ML01.jpg" alt="Máy lạnh Daikin Inverter 1 HP ATKF25XVMV" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Máy lạnh Daikin Inverter 1 HP ATKF25XVMV</p>
                            <h6 class="card-title">11340000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/ML002"><img src="assets/images/product/ML02.jpg " alt="Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Máy lạnh Panasonic Inverter 1 HP CU/CS-XU9ZKH-8</p>
                            <h6 class="card-title">13990000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-7" role="tabpanel" aria-labelledby="tab-7">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/NC001"><img src="assets/images/product/NC01.jpg" alt="Nồi cơm điện tử Kangaroo 1.8 lít KG595" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Nồi cơm điện tử Kangaroo 1.8 lít KG595</p>
                            <h6 class="card-title">1350000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/NC002"><img src="assets/images/product/NC02.jpg " alt="Nồi cơm nắp gài Sunhouse 1 lít SHD8208C" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Nồi cơm nắp gài Sunhouse 1 lít SHD8208C</p>
                            <h6 class="card-title">550000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-8" role="tabpanel" aria-labelledby="tab-8">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/BD001"><img src="assets/images/product/BD01.jpg" alt="Bếp từ đôi lắp âm Junger MK-22" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Bếp từ đôi lắp âm Junger MK-22</p>
                            <h6 class="card-title">9590000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/BD002"><img src="assets/images/product/BD02.jpg " alt="Bếp từ đôi lắp âm Sunhouse SHB9111MT" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Bếp từ đôi lắp âm Sunhouse SHB9111MT</p>
                            <h6 class="card-title">2490000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane page" id="tabContent-9" role="tabpanel" aria-labelledby="tab-9">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/DT001"><img src="assets/images/product/DT01.jpg" alt="Điện thoại Samsung Galaxy S23+ 5G 512GB" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Điện thoại Samsung Galaxy S23+ 5G 512GB</p>
                            <h6 class="card-title">29990000 VND</h6>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                      <div class="card w-100 my-2 shadow-2-strong">
                        <a href="/productdetail/DT002"><img src="assets/images/product/DT02.jpg " alt="Điện thoại iPhone 15 Pro Max 256GB" class="card-img-top" style="aspect-ratio: 1 / 1"></a>
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">Điện thoại iPhone 15 Pro Max 256GB</p>
                            <h6 class="card-title">33490000 VND</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
      </div>
  </section>
    <!-- Products -->
    
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

    </body>
{% endblock %}
