
<title>{% block title %}{{ product.name }}{% endblock %}</title>

{% block body %}
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="icon" href="assets/favicon.svg">

<header class="header navbar-area">
{% if app.user %}
    <div class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-left">
                        <ul class="menu-top-link">
                            <li>
                                <div class="select-position">
                                    <select id="select4">
                                        <option value="0" selected>$ VND</option>
                                        <option value="2">$ USD</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-position">
                                    <select id="select5">
                                        <option value="0" selected>tiếng Việt</option>
                                        <option value="1">English</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-middle">
                        <ul class="useful-links">
                            <li><a href="/user">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#" >Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-end">
                        <ul class="user-login">
                            <li>
                                <a href="/profile">Tài khoản của tôi</a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-left">
                        <ul class="menu-top-link">
                            <li>
                                <div class="select-position">
                                    <select id="select4">
                                        <option value="0" selected>$ VND</option>
                                        <option value="2">$ USD</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-position">
                                    <select id="select5">
                                        <option value="0" selected>tiếng Việt</option>
                                        <option value="1">English</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-middle">
                        <ul class="useful-links">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#" >Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-end">
                        <ul class="user-login">
                            <li>
                                <a href="/login">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="/register">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</header>

<div class="container">
    <div class="row mt-3 mb-4">
        <div class="col-md-4">
            <img src="{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
            <h2>{{ product.price }} VND</h2>
            <hr>
            <b>Mô tả sản phẩm: </b>{{ product.description }}
            {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
            <div class="form-group">
                {{ form_label(form.quantity) }}
                {{ form_widget(form.quantity, {
                    'attr': {
                        'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                    }
                }) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.quantity) }}
                </div>
            </div>
            {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
<!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
{% endblock %}
