
{% extends 'base.html.twig' %}

{% block title %}Chi tiết sản phẩm{% endblock %}

{% block body %}
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="assets/favicon.svg">

    <body>
        <div class="container">
            <div class="row mt-3 mb-4">
                <div class="col-md-4">
                    <img src="assets/images/product/DT01.jpg" alt="{{ product.name }}" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
                    <h2>{{ product.price }} VND</h2>
                    <hr>
                    <b>Mô tả sản phẩm: </b>{{ product.description }}
                    {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                    <div class="form-group">
                        {{ form_label(form.quantity) }}
                        <div class="input-group">
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-secondary btn-sm me-2" onclick="decreaseQuantity()">-</button>
                                {{ form_widget(form.quantity, { 'value': '1',
                                    'attr': {
                                        'class': 'form-control text-center mb-3 w-25 ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                    }
                                }) }}
                                <button type="button" class="btn btn-secondary btn-sm ms-2" onclick="increaseQuantity()">+</button>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            {{ form_errors(form.quantity) }}
                        </div>
                    </div>
                    {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary w-25', 'data-mdb-ripple-init data-mdb-modal-init data-mdb-target':'#exampleModal'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo !</h5>
                </div>
                <div class="modal-body">Sản phẩm đã được thêm vào giỏ hàng.</div>
        
            </div>
            </div>
        </div>

        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
        
</body>
{% endblock %}
